<%= form_with(model: @candidate, local: true) do |f| %>

  <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", required: true %>
  </p>
  <p>
      <%= f.label :party %><br/>
      <%= f.text_field :party, placeholder: "Enter your party", required: true %>
  </p>
  <p>
      <%= f.label :age %><br/>
      <%= f.number_field :age, in: 30..70, placeholder: "Enter your age", required: true %>
  </p>
  <p>
      <%= f.label :politics %><br/>
      <%= f.text_area :politics, placeholder: "Write your politics", required: true %>
  </p>
  <p>
      <%= f.submit %>
  </p>

<% end %>
<%= link_to 'return to all candidates', candidates_path, class:"return-link" %>