<h1>All candidates</h1>
<div class="block">
  <table class="profile">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Party</th>
        <th>Age</th>
        <th>Politics</th>
      </tr>
    </thead>
    <tbody>
      <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.id %></td>
        <td><%= candidate.name %></td>
        <td><%= candidate.party %></td>
        <td><%= candidate.age %></td>
        <td><%= candidate.politics %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Add Candidate', new_candidate_path %>