<h1>All candidates</h1>
<div class="block">
  <table class="profile">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.id %></td>
        <td><%= link_to candidate.name, candidate_path(candidate) %></td>
        <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
        <td><%= link_to 'Delete', candidate_path(candidate), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Add Candidate', new_candidate_path %>