<h1><%= @candidate.name %>'s Profile</h1>
  <div class="block">
    <table class="profile">
      <thead>
        <tr>
          <th>Party</th>
          <th>Age</th>
          <th>Politics</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @candidate.party %></td>
          <td><%= @candidate.age %></td>
          <td><%= @candidate.politics %></td>
        </tr>
      </tbody>
    </table>
  </div>
<%= link_to "Edit", edit_candidate_path %>
<%= link_to "Delete", candidate_path(@candidate), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to 'All Candidates', candidates_path %>